/* Common CSS Style */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Nav Style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 225px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    list-style: none;
    align-items: center;


}

nav>ul li {
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.primary-color {
    color: #FD6E0A;
    font-size: 45px;
    font-weight: 800;
}

.pry_button {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    padding: 15px 35px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/* Header Style */
.header {
    background: #FFF8F3;
    background-image: url("images/header_bg.png"), url("images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 650px;
}

.banner .profile_picture {
    width: 584px;
    height: 676px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;

}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
}

.banner-text {
    color: #757575;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: justify;
}

/* Main Section Style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* About Section */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
    max-height: 550px;
}

.section-title {
    text-align: center;
    color: #181818;
    font-size: 35px;
    font-weight: 700;

}

.section-Description {
    text-align: center;
    color: #757575;
    font-size: 18px;
    font-weight: 400;

}

.about-info-contaciner {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
    padding: 0px 0px;
}

.info-title {
    color: #757575;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0px;
    /* 150% */
}

.about-info-contaciner p {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 5px;
}

#what-I-do-description {
    padding: 30px 150px;
}

.skills-contaciner {
    display: flex;
}

.skill {
    /* width: 270px; */
    border-radius: 5px;
    margin-right: 24px;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skills-contaciner img {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
}

.skills-contaciner h3 {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.resume>h2 {
    color: var#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 113px;
}

.resume-container {
    display: flex;
    gap: 70px;
}

.resume-container h2 {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 30px;
}

.resume-container h3 {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 10px;
}

.resume-content .resume-institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
}

.resume-content p {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 0px;
    text-align: justify;

    /* 175% */
}

.resume-content hr {
    margin-right: 15px;
}

.download-CV {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 130px;
}

/* Footer Design*/
.footer {
    display: flex;
    margin: 130px 0px;
    align-items: center;
    background: #FFF8F3;
}

.footer .connect {
    width: 50%;
    padding: 130px 230px;
    gap: 100px;


}

.footer input,
textarea {
    display: block;
    margin-bottom: 24px;

}

.footer input,textarea {
    width: 100%;
    height: 64px;
    border: none;
    border-radius: 5px;
    background: #FFF;
    padding-right: 50px;
    
}

.footer .connect h3 {
    color: #181818;
    /* text-align: center; */
    font-size: 35px;
    font-weight: 700;
}

.footer .connect p {
    color: var #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}